modules = ["java-jdk17"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java 17 程序"

[[workflows.workflow]]
name = "Java 17 程序"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"

[workflows.workflow.metadata]
outputType = "console"

[nix]
channel = "stable-25_05"
packages = ["openjdk17"]
